<launch>

  <!--node pkg="giskard_ros" type="goal_marker_viz" name="command_viz" >
    <remap from="~feedback" to="/whole_body_controller/feedback" />
  </node-->

  <node pkg="giskard_ros" type="whole_body_interactive_markers" 
        name="whole_body_interactive_markers" output="screen">
    <rosparam command="load"
              file="$(find giskard_pr2)/config/pr2_interactive_markers.yaml" />
  </node>

  <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find giskard_pr2)/config/interactive.rviz" />
        
</launch>
