<launch>
  <arg name="sim" default="true" />
  <arg name="gazebo" default="false" />
  <arg name="trajectory_controller" default="true" />

  <include file="$(find giskard_pr2)/launch/pr2_qp_controller.launch" >
    <arg name="sim" value="$(arg sim)" />
    <arg name="gazebo" value="$(arg gazebo)" />
    <arg name="trajectory_controller" value="$(arg trajectory_controller)" />
  </include>

  <include file="$(find giskard_pr2)/launch/interactive_markers.launch" />
 
</launch>
