<launch>
  <!-- convenience launch-file to start the PR2 with velocity-resolved controllers -->
  <arg name="sim" default="true" />
  <arg name="trajectory_controller" default="true" />

  <group if="$(arg trajectory_controller)" >

    <!-- START SIMULATED PR2 WITH JOINT-TRAJECTORY INTERFACE -->
    <include if="$(arg sim)" file="$(find iai_pr2_sim)/launch/ros_control_sim.launch" />

    <!-- START JOINT-TRAJECTORY INTERFACE ON REAL PR2 -->
    <include unless="$(arg sim)"
      file="$(find iai_pr2_controller_configuration)/launch/spawn_upper_body_controller.launch" />

  </group>

  <group unless="$(arg trajectory_controller)" >
    <!-- START SIMULATED PR2 WITH INSTANTANEOUS VELOCITY INTERFACE -->
    <group if="$(arg sim)" >
      <include file="$(find iai_pr2_sim)/launch/pr2.launch" />
    </group>
  
    <!-- START INSTANTANEOUS VELOCITY INTERFACE ON REAL PR2 -->
    <group unless="$(arg sim)" >
      <include file="$(find iai_pr2_controller_configuration)/launch/spawn_velocity_controllers.launch" />
  
      <node pkg="giskard_ros" type="joint_state_separator" name="pr2_cmd_separator"
            output="screen" >
        <rosparam param="joint_names" file="$(find giskard_pr2)/config/pr2_upper_body.yaml" />
        <remap from="~joint_states" to="/pr2/commands" />
      </node>
    </group>
  </group>

</launch>
