<launch>
  <remap from="/controller_action_server/move" to="/qp_controller/command" />

  <node pkg="giskard_ros" type="controller_action_test_client" 
        name="controller_action_test_client" output="screen" >
    <rosparam command="load"
      file="$(find giskard_pr2)/config/pr2_controller_action_test.yaml" />
    <param name="goals/yaml" 
      textfile="$(find giskard_pr2)/controller_specs/pr2_yaml_control.yaml" />
  </node>
</launch>
